.header {
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-menu {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-menu a {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
color: #f3f1ee;
font-weight: bold;
}

.header-menu a:hover{
color: #ece8e8;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column; 
        gap: 40px;
        padding: 20px;
    }
}